<!DOCTYPE html>
<!--Boilerplate code to set up the web document-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>IAT Builder</title>
    <link rel="stylesheet" href="../static/style.css">
	<!--Include jquery so we can load things from the server-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  </head>
  <body>
	The IAT Builder interface will go here we need a form that will
    send json to our endpoints to make new IAT studies.

    <form>
        <textfield>Hello</textfield>

        <button>Submit</button>
    </form>

  </body>
</html>
